<a href="https://colab.research.google.com/github/FilldorGaming/myPython/blob/add/17_10_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
name_=[]
date_=[]
money_=[]
i=1
fot=0
while i<=2:
  print('Введите данные сотрудника №'+str(i)+': ')
  name_.append(input('Имя сотрудника: '))
  date_.append(int(input('Дата рождения сотрудника в формате ММ: ')))
  money_.append(int(input('Заработная плата сотрудника: ')))
  i=i+1
s1=(name_[0], date_[0], money_[0])
s2=(name_[1], date_[1], money_[1])
#s3=(name_[2], date_[2], money_[2])
#s4=(name_[3], date_[3], money_[3])
#s5=(name_[4], date_[4], money_[4])
m=input('Введите номер месяца даты рождения сотрудника. Пример: 09 ')
m1=input('Какой сейчас месяц: ')
if m in s1:
  print(s1)
  zp1=money_[0]
  if m==m1:
    zp1=zp1+(zp1*0.25)
    print('У этого сотрудника в этом месяце день рождения')
    print('Ему полагается премия. Его зп составит:',zp1,'р./мес.')
    fot=fot+zp1
  else:
    fot=fot+money_[0]
if m in s2:
  print(s2)
  zp2=money_[1]
  if m==m1:
    zp2=zp2+(zp2*0.25)
    print('У этого сотрудника в этом месяце день рождения')
    print('Ему полагается премия. Его зп составит:',zp2,'р./мес.')
    fot=fot+zp2
  else:
    fot=fot+money_[1]
#if m in s3:
#  print(s3)
#  zp3=money_[2]
#  if m==m1:
#    zp3=zp3+(zp3*0.25)
#    print('У этого сотрудника в этом месяце день рождения')
#    print('Ему полагается премия. Его зп составит:',zp3,'р./мес.')
#    fot=fot+zp3
#  else:
#    fot=fot+money_[2]
#if m in s4:
#  print(s4)
#  zp4=money_[3]
#  if m==m1:
#    zp4=zp4+(zp4*0.25)
#    print('У этого сотрудника в этом месяце день рождения')
#   print('Ему полагается премия. Его зп составит:',zp4,'р./мес.')
#    fot=fot+zp4
#  else:
#    fot=fot+money_[3]
#if m in s5:
#  print(s5)
#  zp5=money_[4]
#  if m==m1:
#    zp5=zp5+(zp5*0.25)
#    print('У этого сотрудника в этом месяце день рождения')
#    print('Ему полагается премия. Его зп составит:',zp5,'р./мес.')
#    fot=fot+zp5
#  else:
#    fot=fot+money_[4]
#print('ФОТ за этот месяц составляет:', str(fot))

Введите данные сотрудника №1:
Имя сотрудника: frgfrg
Дата рождения сотрудника в формате ММ: 04
Заработная плата сотрудника: 12121
Введите данные сотрудника №2:
Имя сотрудника: fbfrghrg
Дата рождения сотрудника в формате ММ: frhfrgh
Заработная плата сотрудника: 12
Введите номер месяца. Пример: 09 04
('frgfrg', '04', 12121)